{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}         {# Adds date-picker required JS and CSS #}

{% block body %}
<div class="main-wrap">
  <div class="cover_1 cover_sm">
    <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})"
      data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7" data-aos="fade-up">
            <h2 class="heading text-center">Reservation</h2>
            <p class="lead text-center">Reserving a table made much easier with just one click !!</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .cover_1 -->

  <div class="section" data-aos="fade-up">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8  text-center">
          <h2 class="mb-3">Reservation</h2>
          <p class="lead">Fill in the below details.</p>
          <div class="alert alert-success " role="alert" style="display:none">Your Reservation Has Been Added
            Successfully .</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10 p-5 form-wrap">


          <form method="POST">
            {% csrf_token %}
            {% if messages %}
                  <ul class="messages text-center" style="list-style:none" >
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
            {% endif %}
            {% bootstrap_form reserve_form %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Submit</button>
            {% endbuttons %}



          </form>

          {% comment  %}

          <div class="row mb-4">
            <div class="form-group col-md-4">
              <label for="name" class="label">Name</label>
              <div class="form-field-icon-wrap">
                <!-- <span class="icon ion-android-person"></span>-->
                <!--<input type="text" class="form-control" id="name">-->
                {{reserve_form.name}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="email" class="label">Email</label>
              <div class="form-field-icon-wrap">
                <!--<span class="icon ion-email"></span>-->
                <!--<input type="email" class="form-control" id="email">-->
                {{reserve_form.email}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="phone" class="label">Phone</label>
              <div class="form-field-icon-wrap">
                <!--<span class="icon ion-android-call"></span>-->
                <!-- <input type="text" class="form-control" id="phone">-->
                {{reserve_form.phone}}
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="nop" class="label">Number of Persons</label>
              <div class="form-field-icon-wrap">
                <!--<span class="icon ion-android-call"></span>-->
                <!-- <input type="text" class="form-control" id="nop">-->
                {{reserve_form.number_of_persons}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="date" class="label">Date</label>
              <div class="form-field-icon-wrap">
                <!-- <span class="icon ion-calendar"></span>-->
                <!--<input type="text" class="form-control" id="date">-->
                {{reserve_form.Date}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="time" class="label">Time</label>
              <div class="form-field-icon-wrap">
                <!--<span class="icon ion-android-time"></span>-->
                <!-- <input type="text" class="form-control" id="time">-->
                {{reserve_form.time}}
              </div>
            </div>
          </div>
          {% endcomment %}


          {% comment  %}

          <form action="" method="POST">
            {% csrf_token %}
            {{reserve_form.name}}
            {{reserve_form.time}}


          </form>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div> <!-- .section -->

 
</div> <!-- .main-wrap -->
{% endblock body %}